@font-face {
    font-family: 'Gabriela';
    src: local('Gabriela'), local('Gabriela-Regular'), url('gabriela.woff2') format('woff2'), url('gabriela.woff') format('woff'), url('gabriela.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
